@if(storeResp){
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="storeID">
    <th mat-header-cell *matHeaderCellDef> ไอดีสโตร์ </th>
    <td mat-cell *matCellDef="let element"> {{element.storeID}} </td>
  </ng-container>

  <ng-container matColumnDef="storeName">
    <th mat-header-cell *matHeaderCellDef> ชื่อสโตร์ </th>
    <td mat-cell *matCellDef="let element"> {{element.storeName}} </td>
  </ng-container>

  <ng-container matColumnDef="buiding">
    <th mat-header-cell *matHeaderCellDef> ตึก </th>
    <td mat-cell *matCellDef="let element"> {{element.buiding}} </td>
  </ng-container>

  <ng-container matColumnDef="floor">
    <th mat-header-cell *matHeaderCellDef> ชั้น </th>
    <td mat-cell *matCellDef="let element"> {{element.floor}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef  class="w-[2rem]"></th>
    <td mat-cell *matCellDef="let element" > 
      <div class="flex justify-center">
          <button mat-icon-button [matMenuTriggerFor]="menu" [name]="'action'+element.storeID">
            <mat-icon>more_vert</mat-icon>
          </button>
      
        <mat-menu #menu="matMenu">
          
          <button mat-menu-item (click)="edit.emit(element)" [name]="'edit_code_'+element.storeID">
            <mat-icon [svgIcon]="'edit'"></mat-icon>
            <span>เเก้ไข</span>
          </button>
          <button mat-menu-item (click)="delete.emit(element)" [name]="'delete_code_'+element.storeID">
            <mat-icon [svgIcon]="'delete'"></mat-icon>
            <span>ลบ</span>
          </button>
          
        </mat-menu>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer custom">
  </tr>
</table>

<div class="flex justify-end bg-white">
  <mat-paginator class="text-md" [length]="storeResp.totalItems" [pageSize]="storeResp.itemsPerPage"
    [pageIndex]="storeResp.currentPage - 1" [pageSizeOptions]="[10, 25, 100]" (page)="onChangePage($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
}